# ★ Dictionary

In [6]:
contact = {'Bill': 'Bill@gmail.com', 'Kevin': 'Kevin@gmail.com'}

for name in contact.keys(): # Using keys() method to iterate key values
    print(name)

for email in contact.values(): # Using values() method to iterate values
    print(email)

for name, email in contact.items(): # Using items() method to iterate both keys and values
    print(name, email)


x = ('Bill', 'Gates', 'gates@gmail.com')
fname, lname, email = x

print(fname, lname, email)

Bill
Kevin
Bill@gmail.com
Kevin@gmail.com
Bill Bill@gmail.com
Kevin Kevin@gmail.com
Bill Gates gates@gmail.com

# ★ Dates and Times

In [7]:
import datetime as dt
import time as tm

In [8]:
tm.time() #Return the time in seconds since the epoch as a floating point number.

1565208144.2691689

In [9]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2019, 8, 7, 16, 2, 24, 299153)

In [10]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2019, 8, 7, 16, 2, 24)

In [11]:
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(days=100)

In [12]:
today = dt.date.today()

In [13]:
today-delta

datetime.date(2019, 4, 29)

In [14]:
today > today-delta

True

# ★ Objects and map()

In [15]:
class Person:
    department = 'School of Information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [16]:
person = Person()
person.set_name('Chris')
person.set_location('Ann Arbor, USA')
print("{} lives in {} and works in the department {}".format(person.name, person.location, person.department))

Chris lives in Ann Arbor, USA and works in the department School of Information

In [17]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

## - Example: maps()

Here is a list of faculty teaching this MOOC. Can you write a function and apply it using map() to get a list of all faculty titles and last names (e.g. ['Dr. Brooks', 'Dr. Collins-Thompson', …]) ?

In [18]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    
    return person.split(' ')[0] + person.split(' ')[2]

list(map(split_title_and_name, people))

['Dr.Brooks', 'Dr.Collins-Thompson', 'Dr.Vinod', 'Dr.Romero']

# ★ Lambda and List Comprehensions

In [19]:
my_function = lambda a, b, c : a + b # Limited to a single expression function (short-lived and simple)

In [20]:
# Very useful for simple and little data cleaning tasks

In [21]:
my_function(1, 2, 3)

3

Convert this function into a lambda:

In [22]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda person:person.split()[0] + ' ' + person.split()[-1])(person))

#option 2
list(map(split_title_and_name, people)) == list(map(lambda person:person.split()[0] + ' ' + person.split()[-1], people))

True
True
True
True

True

In [23]:
even_list = []

for number in range(0, 20):
    if number % 2 == 0:
        even_list.append(number)

even_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [24]:
even_list = [number for number in range(0, 20) if number % 2 == 0] # List Comprehension: Condensed Format

In [25]:
even_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## - Example: List Comprehension

Here, why don’t you try converting a function into a list comprehension.

In [26]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [i*j for i in range(10) for j in range(10)]

True

Here’s a harder question which brings a few things together.

Many organizations have user ids which are constrained in some way. Imagine you work at an internet service provider and the user ids are all two letters followed by two numbers (e.g. aa49). Your task at such an organization might be to hold a record on the billing activity for each possible user.

Write an initialization line as a single list comprehension which creates a list of all possible user ids. Assume the letters are all lower case.

In [27]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

answer = [a1 + a2 + n1 + n2 for a1 in lowercase for a2 in lowercase for n1 in digits for n2 in digits] # List Comprehension

# ★ Numpy

In [28]:
import numpy as np

## - Creating Arrays

In [29]:
mylist = [1, 2, 3]
x = np.array(mylist)
x

array([1, 2, 3])

In [30]:
y = np.array([4, 5, 6])

In [31]:
y

array([4, 5, 6])

In [32]:
m = np.array([[7, 8, 9], [10, 11, 12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

In [33]:
m.shape # Check the size of a array

(2, 3)

In [34]:
n = np.arange(0, 30, 2) # Create a one-row array
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [35]:
n = n.reshape(3, 5) # Reshape to a new array with given size

In [36]:
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

In [37]:
o = np.linspace(0, 4, 9)
o

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. ])

In [38]:
o.resize(3, 3)
o

array([[0. , 0.5, 1. ],
       [1.5, 2. , 2.5],
       [3. , 3.5, 4. ]])

In [39]:
np.ones((3, 2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [40]:
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [41]:
np.eye(3) # Diagonal matrix

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [42]:
np.diag(y)

array([[4, 0, 0],
       [0, 5, 0],
       [0, 0, 6]])

In [43]:
np.array([1, 2, 3] * 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [44]:
np.repeat([1, 2, 3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [47]:
p = np.ones([2, 3], int)
p

array([[1, 1, 1],
       [1, 1, 1]])

In [46]:
np.ones([3,3], float)

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [54]:
np.vstack([p, 2*p])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

In [55]:
np.hstack([p, 2*p])

array([[1, 1, 1, 2, 2, 2],
       [1, 1, 1, 2, 2, 2]])

## - Numpy Operations

In [56]:
x + y

array([5, 7, 9])

In [57]:
x * y

array([ 4, 10, 18])

In [58]:
x ** 2

array([1, 4, 9], dtype=int32)

In [59]:
x**2

array([1, 4, 9], dtype=int32)

In [60]:
x.dot(y) # Dot Product

32

In [61]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

In [62]:
z.shape

(2, 3)

In [63]:
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

In [64]:
z.T.shape

(3, 2)

In [65]:
z.dtype

dtype('int32')

In [66]:
z = z.astype('f')
z.dtype

dtype('float32')

In [67]:
a = np.array([-4, -2, 1, 3, 5])

In [68]:
a.sum()

3

In [69]:
a.max()

5

In [70]:
a.min()

-4

In [71]:
a.mean()

0.6

In [72]:
a.std()

3.2619012860600183

In [73]:
a.argmax()

4

In [74]:
a.argmin()

0

## - Indexing and Slicing

In [49]:
s = np.arange(13)**2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144],
      dtype=int32)

In [76]:
s[0], s[4], s[0:3]

(0, 16, array([0, 1, 4], dtype=int32))

In [77]:
s[1:5]

array([ 1,  4,  9, 16], dtype=int32)

In [78]:
s[-4:]

array([ 81, 100, 121, 144], dtype=int32)

In [79]:
s[-5::-2]

array([64, 36, 16,  4,  0], dtype=int32)

In [80]:
r = np.arange(36)
r.resize((6,6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [81]:
r[2, 2] # Second row Second column

14

In [82]:
r[3, 3:6]

array([21, 22, 23])

In [83]:
r[-1, ::2]

array([30, 32, 34])

In [84]:
r[r>30] #Conditional Indexing

array([31, 32, 33, 34, 35])

In [85]:
r[r > 30] = 30

In [86]:
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [87]:
r2 = r[:3,:3] #Sliced Array of r
r2

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

In [88]:
r2[:] = 0 #Set all the elements to zero
r # changes the original array r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [89]:
r_copy = r.copy() # Use a copied version of r instead to prevent the original r from not being changed.
r_copy

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [52]:
k = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
k

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [53]:
k[1, 1]

5

In [55]:
k[0:2, 2] # row 0 and 1 + column 2

array([3, 6])

In [56]:
k[-1] # Last row of a array

array([7, 8, 9])

In [57]:
k[-1, -1]

9

In [59]:
k[:,1:3]

array([[2, 3],
       [5, 6],
       [8, 9]])

In [61]:
for cell in k.flat:
    print(cell)

1
2
3
4
5
6
7
8
9

In [62]:
t = np.arange(6).reshape(2,3)
t

array([[0, 1, 2],
       [3, 4, 5]])

In [90]:
r_copy[:] = 10
print(r_copy)
print()
print(r) #original array r didn't change

[[10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]]

[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 30 30 30 30 30]]

## - Iterating Over Arrays

In [91]:
test = np.random.randint(0, 10, (4,3))

In [92]:
test

array([[4, 3, 6],
       [8, 5, 5],
       [9, 3, 5],
       [1, 7, 5]])

In [93]:
for row in test: #Version 1
    print(row)

[4 3 6]
[8 5 5]
[9 3 5]
[1 7 5]

In [94]:
for i in range(len(test)): #Version 2
    print(test[i])

[4 3 6]
[8 5 5]
[9 3 5]
[1 7 5]

In [95]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

row 0 is [4 3 6]
row 1 is [8 5 5]
row 2 is [9 3 5]
row 3 is [1 7 5]

In [96]:
test2 = test**2
test2

array([[16,  9, 36],
       [64, 25, 25],
       [81,  9, 25],
       [ 1, 49, 25]], dtype=int32)

In [97]:
for i, j in zip(test, test2):
    print(i, '+', j, '=', i + j)

[4 3 6] + [16  9 36] = [20 12 42]
[8 5 5] + [64 25 25] = [72 30 30]
[9 3 5] + [81  9 25] = [90 12 30]
[1 7 5] + [ 1 49 25] = [ 2 56 30]

In [98]:
['a', 'b'] + [1 ,2]

['a', 'b', 1, 2]

In [99]:
type(lambda x: x+1)

function

In [101]:
r = np.random.randint(0, 10, (3,3))
r

array([[5, 6, 3],
       [2, 0, 8],
       [6, 5, 1]])

In [102]:
r[:,::7]

array([[5],
       [2],
       [6]])

In [103]:
r[::7]

array([[5, 6, 3]])

In [104]:
r[0:6,::-7]

array([[3],
       [8],
       [1]])

In [ ]:
r.reshape(36)