# Python Dictionary

In [ ]:
contact = {'Bill': 'Bill@gmail.com', 'Kevin': 'Kevin@gmail.com'}

for name in contact.keys():
    print(name)

for email in contact.values():
    print(email)

for name, email in contact.items():
    print(name, email)


x = ('Bill', 'Gates', 'gates@gmail.com')
fname, lname, email = x

print(fname, lname, email)

## Dates and Times

In [1]:
import datetime as dt
import time as tm

In [2]:
tm.time()

1565044094.3619103

In [3]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2019, 8, 5, 18, 28, 43, 546335)

In [4]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2019, 8, 5, 18, 28, 43)

In [5]:
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(days=100)

In [6]:
today = dt.date.today()

In [7]:
today-delta

datetime.date(2019, 4, 27)

In [8]:
today > today-delta

True

## Objects and map()

In [9]:
class Person:
    department = 'School of Information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [10]:
person = Person()
person.set_name('Chris')
person.set_location('Ann Arbor, USA')
print("{} lives in {} and works in the department {}".format(person.name, person.location, person.department))

Chris lives in Ann Arbor, USA and works in the department School of Information

In [11]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

# Practice Question: maps()

Here is a list of faculty teaching this MOOC. Can you write a function and apply it using map() to get a list of all faculty titles and last names (e.g. ['Dr. Brooks', 'Dr. Collins-Thompson', â€¦]) ?

In [13]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    
    return person.split(' ')[0] + person.split(' ')[2]

list(map(split_title_and_name, people))

['Dr.Brooks', 'Dr.Collins-Thompson', 'Dr.Vinod', 'Dr.Romero']