# Python Dictionary

In [ ]:
contact = {'Bill': 'Bill@gmail.com', 'Kevin': 'Kevin@gmail.com'}

for name in contact.keys():
    print(name)

for email in contact.values():
    print(email)

for name, email in contact.items():
    print(name, email)


x = ('Bill', 'Gates', 'gates@gmail.com')
fname, lname, email = x

print(fname, lname, email)

## Dates and Times

In [1]:
import datetime as dt
import time as tm

In [2]:
tm.time()

1565044094.3619103

In [3]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2019, 8, 5, 18, 28, 43, 546335)

In [4]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2019, 8, 5, 18, 28, 43)

In [5]:
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(days=100)

In [6]:
today = dt.date.today()

In [7]:
today-delta

datetime.date(2019, 4, 27)

In [8]:
today > today-delta

True

## Objects and map()

In [9]:
class Person:
    department = 'School of Information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [10]:
person = Person()
person.set_name('Chris')
person.set_location('Ann Arbor, USA')
print("{} lives in {} and works in the department {}".format(person.name, person.location, person.department))

Chris lives in Ann Arbor, USA and works in the department School of Information

In [11]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

# Practice Question: maps()

Here is a list of faculty teaching this MOOC. Can you write a function and apply it using map() to get a list of all faculty titles and last names (e.g. ['Dr. Brooks', 'Dr. Collins-Thompson', …]) ?

In [13]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    
    return person.split(' ')[0] + person.split(' ')[2]

list(map(split_title_and_name, people))

['Dr.Brooks', 'Dr.Collins-Thompson', 'Dr.Vinod', 'Dr.Romero']

# Lambda and List Comprehensions

In [18]:
my_function = lambda a, b, c : a + b # Limited to a single expression function (short-lived and simple)

In [ ]:
# Very useful for simple and little data cleaning tasks

In [17]:
my_function(1, 2, 3)

3

Convert this function into a lambda:

In [27]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda person:person.split()[0] + ' ' + person.split()[-1])(person))

#option 2
list(map(split_title_and_name, people)) == list(map(lambda person:person.split()[0] + ' ' + person.split()[-1], people))

True
True
True
True

True

In [28]:
even_list = []

for number in range(0, 20):
    if number % 2 == 0:
        even_list.append(number)

even_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [29]:
even_list = [number for number in range(0, 20) if number % 2 == 0] # List Comprehension: Condensed Format

In [30]:
even_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# List Comprehension Example

Here, why don’t you try converting a function into a list comprehension.

In [31]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [i*j for i in range(10) for j in range(10)]

True

Here’s a harder question which brings a few things together.

Many organizations have user ids which are constrained in some way. Imagine you work at an internet service provider and the user ids are all two letters followed by two numbers (e.g. aa49). Your task at such an organization might be to hold a record on the billing activity for each possible user.

Write an initialization line as a single list comprehension which creates a list of all possible user ids. Assume the letters are all lower case.

In [ ]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

answer = [a1 + a2 + n1 + n2 for a1 in lowercase for a2 in lowercase for n1 in digits for n2 in digits] # List Comprehension
correct_answer == answer